:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);

    --body-copy: 15px;
}

html {
    font-size: var(--body-copy);
    font-family: "Lexend Deca", sans-serif;
    line-height: 1.6;
    color: var(--transparent-white);
    background-color: var(--very-light-gray);
}

main {
    margin: 88px 6.4vw;
    border-radius: 13px;
    overflow: hidden;
}

h1 {
    margin: 0;
    font-family: "Big Shoulders Display", cursive;
    font-size: 10.4vw;
    color: var(--very-light-gray);
    text-transform: uppercase;
}

p {
    margin: 0;
    font-size: 4vw;
}

img {
    width: 17.07vw;
}

.card {
    height: 117.87vw;
    display: flex;
    padding: 12.8vw;

    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

button {
    background-color: var(--very-light-gray);
    padding: 16px 32px;
    border-radius: 28px;
    /* font-weight: bold; */
    font-family: "Lexend Deca", sans-serif;
    font-size: 1rem;
    border: 0;
}

button:hover {
    background-color: transparent;
    border: 2px solid var(--very-light-gray);
    color: var(--very-light-gray) !important;
    padding: 14px 32px;
}

#sedans {
    background-color: var(--bright-orange);
}
#sedans > button {
    color: var(--bright-orange);
}

#suvs {
    background-color: var(--dark-cyan);
}
#suvs > button {
    color: var(--dark-cyan);
}

#luxury {
    background-color: var(--very-dark-cyan);
}
#luxury > button {
    color: var(--very-dark-cyan);
}

footer {
    font-size: 11px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
}

footer a {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 921px) {
    main {
        width: 921px;
        height: 500px;
        margin: 171px auto;
        margin-bottom: 70px;

        display: flex;
        flex-direction: row;
    }

    h1 {
        font-size: 2.6rem;
    }

    p {
        font-size: 1rem;
    }

    img {
        width: 64px;
    }

    .card {
        width: 307px;
        height: 500px;
        padding: 48px;
    }

    button {
        margin-top: 57px;
    }
}
